*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.map-section{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.map{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.greeting{
    width: fit-content;
    display: flex;
    text-align: center;
    position: absolute;
    top: 2%;
    left: 2%;
    flex-direction: column;
    align-items: center;
}

.greeting h1{
    font-size: 1.7rem;
    font-family: 'Bangers', cursive;
    color: white;
    width: 10rem;
    text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}

.stars-count img{
    width: 10rem;
    
}

.stars-count{
    width: 10rem;
    height: 10rem;
}

.stars-count p{
    width: 5rem;
    font-size: 1.6rem;
    font-family: 'Bangers', cursive;
    font-weight: normal;
    color: white;
    position: absolute;
    z-index: 3;
    top: 42%;
    left: 22%;
}

.settings-btn-right, .world-btn-right{
    position: absolute;
    z-index: 2;
    top: 2%;
    left: 90%;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #FABA00;
    color: white;
    font-size: 30px;
    cursor: pointer;
    border-bottom: #9F5704 5px solid;
    border-left: #9F5704 5px solid;
}

.world-btn-right{
    top: 15%;
    background-color: #46CAC6;
    border-bottom: #2F8787 5px solid;
    border-left: #2F8787 5px solid;
}

.settings-btn-right div, .world-btn-right div {
    position: absolute;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: #ffffff48;
    bottom: 50%;
}

.settings-btn-right img, .world-btn-right img{
    width: 75%;
    z-index: 1;
    position: relative;
}

.btn-grid-world{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    width: 350px;
    justify-items: center;
    padding: 0.5rem;
}

.btn-world{
    width: 55%;
    border-radius: 8px;
}

.btn-world:disabled {
  background-color: #a0a0a0; 
  border-bottom: 6px solid #6e6e6e;
  cursor: not-allowed;
  opacity: 0.7; 
}

.btn-world:disabled:hover {
  transform: none;
}

.mundo-1-btn, .mundo-2-btn, .mundo-3-btn, .mundo-4-btn, .mundo-5-btn{
    position: relative;
    padding: 0.4rem 1.5rem;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 0.9rem;
    cursor: pointer;
}

.mundo-1-btn{
    background-color: #B3CD45;
    border-bottom: #7BAF1B 6px solid;
}

.mundo-2-btn{
    background-color: #46CAC6;
    border-bottom: #2F8787 6px solid;
}

.mundo-3-btn{
    background-color: #FD8E1B;
    border-bottom: #DA7711 6px solid;
}

.mundo-4-btn{
    background-color: #FE4590;
    border-bottom: #DA1F6B 6px solid;
}

.mundo-5-btn{
    background-color: #8900fa;
    border-bottom: #6200b3 6px solid;
}

.levels-container{
    width: 100%;
    height: 100dvh;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.levels-container button{
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.level{
    position: relative;
    text-align: center;
    width: fit-content;
}

.score-display-container.map {
    position: absolute;
    bottom: 40%;
    left: 40%;
    transform: translateX(-50%);
    width: auto;
    gap: 2px;
    display: flex;
    align-items: flex-start;
}

.score-display-container.map .star-icon {
  width: 20px; /* Tamanho menor para o mapa */
  height: 20px;
}

/* Adicione este CSS ao seu arquivo GameMap.css para estilizar a sobreposição */
.historia-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  text-align: center;
  flex-direction: column;
}

.historia-container {
  width: 100dvw;
  height: 100dvh;
  padding: 0.5rem;
}

.historia-imagem {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.historia-dialogo {
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
    font-size: 1.2rem;
    position: absolute;
    top: 75%;
    left: 25%;
    width: 50%;
    background: #00000099;
    padding: 0.5rem;
    text-transform: uppercase;
}

.historia-btn {
  /* Estilize seu botão como preferir */
  position: absolute;
  top: 87%;
  left: 65%;
  padding: 10px 30px;
  border-radius: 50px;
  border: none;
  background-color: #FF2526;
  color: white;
  font-size: 1.5rem;
  font-family: "Bangers", system-ui;
  cursor: pointer;
}

.level p{
    font-size: 1.8rem;
    font-family: 'Bangers', cursive;
    font-weight: bold;
    color: white;
    position: relative;
    top: 3.1rem;
    z-index: 2;
}

.level img{
    width: -webkit-fill-available;
    height: 90px;  
}

/* --- Layout de Posições para o Mundo 1 --- */
.mundo-1-layout .level-1 { top: 80%; left: 55%; cursor: pointer; }
.mundo-1-layout .level-2 { top: 55%; left: 20%; cursor: pointer; }
.mundo-1-layout .level-3 { top: 35%; right: 25%; cursor: pointer; }
.mundo-1-layout .level-4 { top: 8%;  right: 30%; cursor: pointer; }
.mundo-1-layout .level-5 { bottom: 0%; right: 36%; cursor: pointer; }

/* --- Layout de Posições para o Mundo 2 --- */
.mundo-2-layout .level-1 { top: 80%; left: 56%; cursor: pointer; }
.mundo-2-layout .level-2 { top: 60%; left: 18%; cursor: pointer; }
.mundo-2-layout .level-3 { top: 40%; right: 22%; cursor: pointer; }
.mundo-2-layout .level-4 { top: 10%; right: 35%; cursor: pointer; }
.mundo-2-layout .level-5 { top: 0%;  right: 42%; cursor: pointer; }

/* --- Layout de Posições para o Mundo 3 --- */
.mundo-3-layout .level-1 { top: 75%; left: 45%; cursor: pointer; }
.mundo-3-layout .level-2 { top: 50%; left: 40%; cursor: pointer; }
.mundo-3-layout .level-3 { top: 40%; right: 0%; cursor: pointer; }
.mundo-3-layout .level-4 { top: 23%; right: 35%; cursor: pointer; }
.mundo-3-layout .level-5 { top: 1%;  right: 45%; cursor: pointer; }

/* --- Layout de Posições para o Mundo 4 --- */
.mundo-4-layout .level-1 { top: 80%; left: 55%; cursor: pointer; }
.mundo-4-layout .level-2 { top: 54%; left: 15%; cursor: pointer; }
.mundo-4-layout .level-3 { top: 35%; right: 22%; cursor: pointer; }
.mundo-4-layout .level-4 { top: 10%;  right: 40%; cursor: pointer; }
.mundo-4-layout .level-5 { top: 2%; right: 48%; cursor: pointer; }

/* --- Layout de posições para o Mundo 5 --- */
.mundo-5-layout .level-1 { top: 80%; left: 55%; cursor: pointer; }
.mundo-5-layout .level-2 { top: 55%; left: 20%; cursor: pointer; }
.mundo-5-layout .level-3 { top: 35%; right: 25%; cursor: pointer; }
.mundo-5-layout .level-4 { top: 8%;  right: 30%; cursor: pointer; }
.mundo-5-layout .level-5 { bottom: 0%; right: 36%; cursor: pointer; }


.locked{
    filter: grayscale(100%);
}

.modal-overlay {
  position: fixed; /* fixa na tela inteira, não depende do pai */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5); /* fundo escuro */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* garante que fica acima de tudo */
}

.modal-content p{
    font-size: 1.4rem;
    width: 8rem;
    text-align: center;
}

.close-btn{
    display: block;
}

/* Media Queries para iPad Pro*/

@media (height: 1366px) {
    .level img{
        height: 135px;  
    }

    .level p{
        font-size: 3.5rem;
        top: 5rem;
    }

    .score-display-container.map {
        bottom: 4%;
        left: 45%;
    }
    .score-display-container.map .star-icon {
      width: 40px; /* Tamanho maior para iPad Pro */
      height: 40px;
    }

     .world-btn-right{
        top: 10%;
    }

    .world-btn-right, .settings-btn-right{
        width: 80px;
        height: 80px;
    }

    .mundo-1-layout .level-1{top: 80%; left: 60%;}
    .mundo-1-layout .level-2{left: 15%;}
    .mundo-1-layout .level-3{top: 28%; right: 38%;}
    .mundo-1-layout .level-4{right: 25%; top: 20% !important;}
    .mundo-1-layout .level-5{top: 5%; right: 25%;}

    .mundo-2-layout .level-1{ top: 85%;  left: 53%;}
    .mundo-2-layout .level-2{top: 55%; left: 15%;}
    .mundo-2-layout .level-3{top: 45%; right: 40%;}
    .mundo-2-layout .level-4{right: 43%; top: 20%;}
    .mundo-2-layout .level-5{top: 10%; right: 30%;}

    .mundo-3-layout .level-2{ top: 60%; left: 35%;}
    .mundo-3-layout .level-3{ top: 50%; right: 15%;}
    .mundo-3-layout .level-4{ top: 35%; right: 20%;}
    .mundo-3-layout .level-5{ top: 20%; right: 40%;}

    .mundo-4-layout .level-1 { top: 80% !important; left: 60% !important; }
    .mundo-4-layout .level-2 { top: 55% !important; left: 14% !important; }
    .mundo-4-layout .level-3 { top: 28% !important; right: 42% !important; }
    .mundo-4-layout .level-4 { top: 17% !important;  right: 27% !important; }
    .mundo-4-layout .level-5 { top: 5% !important; right: 20% !important; }

    .mundo-5-layout .level-1{top: 80%; left: 60%;}
    .mundo-5-layout .level-2{left: 15%;}
    .mundo-5-layout .level-3{top: 28%; right: 38%;}
    .mundo-5-layout .level-4{right: 25%; top: 20% !important;}
    .mundo-5-layout .level-5{top: 5%; right: 25%;}
    
    .historia-imagem {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        object-fit: cover;
        position: fixed;
        left: -15%;
        top: 0;
    }

    .historia-dialogo {
        font-size: 1.4rem;
        top: 75%;
        left: 20%;
        width: 60%;
}
}

@media (width: 1280px) {
    .mundo-1-layout .level-1{ top: 80%; left: 55%;}
    .mundo-1-layout .level-2{ left: 20%;} 
    .mundo-1-layout .level-3{ top: 35%; right: 25%;}
    .mundo-1-layout .level-4{ right: 32%; top: 18%;}
    .mundo-1-layout .level-5{ top: 5%; right: 38%;}

    .mundo-4-layout .level-1 { top: 80%; left: 55%; }
    .mundo-4-layout .level-2 { top: 54%; left: 18%; }
    .mundo-4-layout .level-3 { top: 30%; right: 26%; }
    .mundo-4-layout .level-4 { top: 16%;  right: 30%; }
    .mundo-4-layout .level-5 { top: 2%; right: 38%; }

    .mundo-5-layout .level-1{ top: 80%; left: 55%;}
    .mundo-5-layout .level-2{ left: 20%;} 
    .mundo-5-layout .level-3{ top: 35%; right: 25%;}
    .mundo-5-layout .level-4{ right: 32%; top: 18%;}
    .mundo-5-layout .level-5{ top: 5%; right: 38%;}
}

@media (width: 1024px) {
    .mundo-1-layout .level-4{ top: 13%; right: 30%;}

    .mundo-3-layout .level-1{ top: 70%; left: 45%;}
    .mundo-3-layout .level-2{ top: 50%; left: 15%;}
    .mundo-3-layout .level-3{ top: 43%; left: 14%;}
    .mundo-3-layout .level-4{ top: 30%; right: 25%;}
    .mundo-3-layout .level-5{ top: 5%; right: 43%;}

    .mundo-4-layout .level-1 { top: 80%; left: 55%; }
    .mundo-4-layout .level-2 { top: 54%; left: 20%; }
    .mundo-4-layout .level-3 { top: 30%; right: 25%; }
    .mundo-4-layout .level-4 { top: 15%;  right: 35%; }
    .mundo-4-layout .level-5 { top: 2%; right: 38%; }    
}


@media (width: 820px) {

    .level img{
        height: 110px;  
    }

    .level p{
        font-size: 2.5rem;
        top: 4rem;
    }

    .score-display-container .star-icon {
      width: 30px !important; /* Tamanho intermediário para tablets */
      height: 30px !important;
    }

     .world-btn-right{
        top: 10%;
    }

    .mundo-1-layout .level-1{top: 85%; left: 50%;}
    .mundo-1-layout .level-2{left: 15%;}
    .mundo-1-layout .level-3{top: 28%; right: 38%;}
    .mundo-1-layout .level-4{right: 25%; top: 20%;}
    .mundo-1-layout .level-5{top: 5%; right: 25%;}  

    .mundo-3-layout .level-2{ top: 60%; left: 35%;}
    .mundo-3-layout .level-3{ top: 50%; right: 15%;}
    .mundo-3-layout .level-4{ top: 35%; right: 20%;}
    .mundo-3-layout .level-5{ top: 20%; right: 40%;}

    .mundo-4-layout .level-1 { top: 85%; left: 60%; }
    .mundo-4-layout .level-2 { top: 58%; left: 18%; }
    .mundo-4-layout .level-3 { top: 28%; right: 40%; }
    .mundo-4-layout .level-4 { top: 19%;  right: 30%; }
    .mundo-4-layout .level-5 { top: 5%; right: 25%; }

    .mundo-5-layout .level-1{top: 85%; left: 50%;}
    .mundo-5-layout .level-2{left: 15%;}
    .mundo-5-layout .level-3{top: 28%; right: 38%;}
    .mundo-5-layout .level-4{right: 25%; top: 20%;}
    .mundo-5-layout .level-5{top: 5%; right: 25%;}  

    .historia-imagem {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        object-fit: cover;
        position: fixed;
        left: -15%;
        top: 0;
    }

    .historia-dialogo {
        font-size: 1.4rem;
        top: 75%;
        left: 20%;
        width: 60%;
}
}

@media (width: 768px) {
     .world-btn-right{
        top: 10%;
    }

    .mundo-1-layout .level-1{left: 60%;}
    .mundo-1-layout .level-2{top: 57%; left: 15%;}    
    .mundo-1-layout .level-3{top: 28%; right: 35%;}
    .mundo-1-layout .level-4{right: 20%; top: 20%;}
    .mundo-1-layout .level-5{top: 3%; right: 30%;}

    .mundo-3-layout .level-2{ top: 60%; left: 35%;}
    .mundo-3-layout .level-3{ top: 50%; right: 15%;}
    .mundo-3-layout .level-4{ top: 35%; right: 20%;}
    .mundo-3-layout .level-5{ top: 20%; right: 40%;}

    .mundo-4-layout .level-1 { top: 85%; left: 60%; }
    .mundo-4-layout .level-2 { top: 58%; left: 18%; }
    .mundo-4-layout .level-3 { top: 28%; right: 40%; }
    .mundo-4-layout .level-4 { top: 19%;  right: 30%; }
    .mundo-4-layout .level-5 { top: 5%; right: 25%; }

    .mundo-5-layout .level-1{left: 60%;}
    .mundo-5-layout .level-2{top: 57%; left: 15%;}    
    .mundo-5-layout .level-3{top: 28%; right: 35%;}
    .mundo-5-layout .level-4{right: 20%; top: 20%;}
    .mundo-5-layout .level-5{top: 3%; right: 30%;}

    .historia-imagem {
        width: max-content;
        object-fit: cover;
        position: fixed;
        left: -50%;
        top: 0;
    }
    .historia-dialogo {
        font-size: 1.2rem;
        top: 75%;
        left: 15%;
        width: 70%;
    }
}

@media (max-width: 600px){
    .settings-btn-right, .world-btn-right{
        left: 80%;
    }

    .world-btn-right{
        top: 10%;
    }
    .level img{
        width: -webkit-fill-available;
    }

    .score-display-container .star-icon{
        width: 20px !important; /* Tamanho menor para celulares */
        height: 20px !important;
    }

    .mundo-1-layout .level-1{left: 60%;}
    .mundo-1-layout .level-2{left: 10%;}
    .mundo-1-layout .level-3{top: 23%; right: 35%;}
    .mundo-1-layout .level-4{left: 0%; top: 15%;}
    .mundo-1-layout .level-5{right: 25%;}

    .mundo-2-layout .level-1{ top: 85%;  left: 60%;}
    .mundo-2-layout .level-2{top: 65%; left: 40%;}
    .mundo-2-layout .level-3{top: 55%; right: 20%;}
    .mundo-2-layout .level-4{right: 50%; top: 20%;}
    .mundo-2-layout .level-5{top: 13%; right: 25%;}

    .mundo-3-layout .level-1{ top: 70%; left: 30%;}
    .mundo-3-layout .level-2{ top: 55%; left: 35%;}
    .mundo-3-layout .level-3{ top: 45%; right: 30%;}
    .mundo-3-layout .level-4{ top: 30%; right: 25%;}
    .mundo-3-layout .level-5{ top: 15%; right: 35%;}

    .mundo-4-layout .level-1 { top: 85%; left: 60%; }
    .mundo-4-layout .level-2 { top: 65%; left: 40%; }
    .mundo-4-layout .level-3 { top: 55%; right: 20%; }
    .mundo-4-layout .level-4 { top: 20%;  right: 50%; }
    .mundo-4-layout .level-5 { top: 13%; right: 25%; }

    .mundo-5-layout .level-1{left: 60%;}
    .mundo-5-layout .level-2{left: 10%;}
    .mundo-5-layout .level-3{top: 23%; right: 35%;}
    .mundo-5-layout .level-4{left: 0%; top: 15%;}
    .mundo-5-layout .level-5{right: 25%;}

    .historia-imagem {
        width: max-content;
        object-fit: cover;
        position: fixed;
        left: -110%;
        top: 0;
    }

    .historia-dialogo {
        font-size: 1rem;
        top: 75%;
        left: 10%;
        width: 80%;
    }
}

@media (max-width: 375px) {
        .historia-imagem{
            left: -80%;
        } 
        .historia-dialogo{
            top: 70%;
            font-size: 0.9rem;
        }
        .historia-btn{
            left: 55% !important;
        }
}

