@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Telas de Carregamento/Erro --- */
.loading-screen-2, .error-screen-2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Bangers', sans-serif;
    background-color: #f0f0f0;
    background-image: url('/loading-bear.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.level-container-mundo2 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: none;
}

.ponta-vara-origem {
  position: absolute;
  top: 13%;
  left: 62%;  
  width: 1px;
  height: 1px;
  color: #763918;
}

.level-bg-mundo2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.mundo-2-puzzle-bg{
  top: 0%;
  width: 25%;
}

.puzzle-container-bear{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.mundo-2-puzzle-content{
  top: 40%;
}

.mundo-2-puzzle-content .modal-title{
  top: 30%;
}

.mundo-2-puzzle-content .balao-dicas{
  transform: translate(0rem, -5rem);
}

.mundo-2-puzzle-content .baloon{
  width: 40rem;
}

.puzzle-bebida-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-top: 18rem;
}

.vara-container {
  position: absolute;
  top: 1rem;
  left: 0.3rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.anzol {
  position: absolute;
  width: 35px;
  height: 35px;
  transform: translate(-55%, -30%); 
  pointer-events: none;
  z-index: 11;
}

/* A linha de pesca */
.linha-pesca {
  position: absolute;
  width: 1px;
  background-color: #774504;
  transform-origin: top left;
}

.bebida-flutuante {
  z-index: 5;
  position: absolute;
  bottom: 5%;
  width: 55px;
  cursor: none;
  animation: flutuar 8s ease-in-out infinite;
  transition: transform 0.2s ease;
  pointer-events: auto;
}

.bebida-flutuante:hover {
    transform: scale(1.1);
}

@keyframes flutuar {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px) rotate(5deg);
  }
}


/* ESTILOS RESPONSIVOS*/
@media(width: 1280px){
  .vara-container{
    top: 6rem;
  }
}

@media (height: 1366px){
  .vara-container{
    top: 13rem !important;
    left: 7rem !important;
  }

  .mundo-2-puzzle-bg{
    top: 22% !important;
  }

  .mundo-2-puzzle-content{
    top: 30% !important;
  }
  
  .puzzle-container-bear{
    padding-top: 40rem !important;
  }

  .balao-dicas, .baloon{
    width: 50rem !important;
  }

}

@media (width: 1024px){
  .vara-container{
    top: 3.8rem;
  }
}

@media (width: 912px) {
  .vara-container{
    top: 13.2rem !important;
    left: 7.8rem !important;
  }
}

@media (width: 853px){
  .vara-container{
    top: 12.8rem !important;
    left: 7rem !important;
  }
}

@media (width: 820px) {
  .mundo-2-puzzle-content{
    top: 30%;
  }

  .mundo-2-puzzle-bg{
    width: 100%;
    top: 15%;
  }

  .puzzle-container-bear{
    padding-top: 30rem;
  }

  .puzzle-bebida-img{
    margin: 10rem 0 10rem;
    width: 130px;
    height: 130px;
  }
  .vara-container{
    top: 11.8rem !important;
    left: 6.2rem !important;
  }
}

@media (max-width: 768px) {
  .mundo-2-puzzle-content{
    top: 30%;
  }

  .mundo-2-puzzle-bg{
    width: 100%;
    top: 15%;
  }

  .puzzle-container-bear{
    padding-top: 30rem;
  }

  .puzzle-bebida-img{
    margin: 10rem 0 10rem;
    width: 130px;
    height: 130px;
  }

  .vara-container{
    top: 10rem;
    left: 5rem;
  }
}


@media (max-width: 600px) {
  .vara-container{
    top: 7rem;
    left: 3.5rem;
  }
}

@media (max-width: 500px) {
  .puzzle-container-bear{
    padding-top: 26rem;
  }

  .balao-dicas {
    order: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    transform: translateY(-245px);
  }

  .baloon{
    width: 25rem;
  }

  #hint-text{
    top: 52%;
  }

  .mundo-2-puzzle-bg{
    top: 28%;
  }

  .mundo-2-puzzle-content{
  top: 71%;
}

  .mundo-2-puzzle-content .balao-dicas{
    transform: translate(5%, -25rem);
  }
}

@media (max-width: 499px) {
  .mundo-2-puzzle-content{
    top: 60%;
  }

  .mundo-2-puzzle-bg{
    width: 100%;
    top: 23%;
  }

  .puzzle-container-bear{
    padding-top: 33rem;
  }

  .puzzle-bebida-img{
    margin: 20rem 0 3rem;
  }

  .balao-dicas {
    order: 2;
    width: 100%;
    transform: translateY(-240px);
  }

  .baloon{
    width: 24rem;
  }

  .vara-container{
    top: 9rem;
    left: 6.5rem;
  }

  .mundo-2-puzzle-content .balao-dicas {
    transform: translate(2%, -25rem);
  }

}

@media(width: 412px){
  .mundo-2-puzzle-content .balao-dicas{
        width: 23rem;
  }
}

@media (max-width: 399px){
  .mundo-2-puzzle-content{
    top: 55%;
  }

  .mundo-2-puzzle-content .modal-title{
    top: 10%;
    width: 80%;
    text-align: center;
  }

  .puzzle-container-bear{
    padding-top: 20rem;
  }

  .mundo-2-puzzle-bg{
    width: 100%;
    top: 5%;
  }

  .mundo-2-puzzle-content .balao-dicas {
    transform: translate(2%, -18rem);
  }

  .vara-container{
    top: 6.5rem;
    left: 4.2rem;
  }
}

@media (width: 360px) {
  .vara-container{
    top: 7.2rem !important;
    left: 5rem !important;
  }
}

@media (width: 390px) {
  .vara-container{
    top: 7.8rem !important;
    left: 6.2rem !important;
  }
}

@media (width: 344px) {
  .vara-container{
    top: 8.6rem !important;
    left: 6.8rem !important;
  }
}