.tutorial-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.tutorial-content {
  background-color: transparent; 
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 0;
}

.tutorial-image {
  width: 30rem;
  object-fit: contain;
  position: absolute;
  top: 0;
}

.tutorial-text {
  font-family: 'Bangers', sans-serif;
  font-size: 1.2rem;
  color: #763918;
  line-height: 1.6;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  text-align: center;
  width: 15rem;
  line-height: 1;
}

.tutorial-btn {
  padding: 10px 40px;
  border-radius: 30px;
  border: none;
  background-color: #b3cd45;
  color: white;
  font-size: 1.5rem;
  font-family: "Bangers", system-ui;
  cursor: pointer;
  border-bottom: #7baf1b 6px solid;
  transition: transform 0.2s;
  position: absolute;
  bottom: 25%;
}

.tutorial-btn:hover {
  transform: scale(1.05);
}

/* Media Queries para pc */
@media (width:2560px) {
  .tutorial-image {
    width: 50rem;
    top: 5%;
  }

  .tutorial-text {
    font-size: 2.4rem;
    width: 28rem;
    top:  32%;
  }

  .tutorial-btn {
    font-size: 3.3rem;
    bottom: 25%;
  }
}

@media (width: 1746px) {
  .tutorial-image {
    width: 45rem;
    top: 6%;
  }

  .tutorial-text {
    font-size: 2rem;
    width: 25rem;
    top: 32%;
  }

  .tutorial-btn {
    font-size: 2.7rem;
    bottom: 25%;
  }
}

@media (width: 1440px){
  .tutorial-image {
    width: 40rem;
    top: 7%;
  }

  .tutorial-text {
    font-size: 1.8rem;
    width: 22rem;
    top: 30%;
  }

  .tutorial-btn {
    font-size: 2.4rem;
    bottom: 37%;
  }
}

@media (width: 1280px) {
  .tutorial-image {
    width: 38rem;
    top: 8%;
  }

  .tutorial-text {
    font-size: 1.6rem;
    width: 20rem;
    top: 36%;
  }

  .tutorial-btn {
    font-size: 2.1rem;
    bottom: 20%;
  }
}

/* Media Queries para tablets */
@media (height: 1366px){
  .tutorial-image {
    width: 40rem;
    top: 20%;
  }

  .tutorial-text {
    font-size: 1.8rem;
    width: 22rem;
    top: 37%;
  }

  .tutorial-btn {
    font-size: 2.3rem;
    bottom: 35.5%;
  }
}



@media (width: 820px) {
  .tutorial-image {
    width: 36rem;
    top: 22%;
  }

  .tutorial-text {
    font-size: 1.6rem;
    width: 19rem;
    top: 40%;
  }

  .tutorial-btn {
    font-size: 1.8rem;
    padding: 8px 40px;
    bottom: 32%;
  }
}

@media (width: 768px) {
  .tutorial-image {
    width: 32rem;
    top: 20%;
  }

  .tutorial-text {
    font-size: 1.4rem;
    width: 16rem;
    top: 38%;
  }

  .tutorial-btn {
    font-size: 1.6rem;
    padding: 8px 35px;
    bottom: 32.5%;
  }
}


/* Media Queries para celulares */
@media (width: 430px) {
  .tutorial-image {
    width: 25rem;
    top: 27%;
  }

  .tutorial-text {
    font-size: 1rem;
    width: 12rem;
    top: 43%;
  }

  .tutorial-btn {
    font-size: 1.2rem;
    padding: 8px 30px;
    bottom: 32%;
  }
}

@media (width: 414px) {
  .tutorial-image {
    width: 25rem;
    top: 25%;
  }

  .tutorial-text {
    font-size: 1rem;
    width: 12rem;
    top: 42%;
  }

  .tutorial-btn {
    font-size: 1.4rem;
    padding: 6px 25px;
    bottom: 32.5%;
  }
}

@media (width: 412px) {
  .tutorial-image {
    width: 25rem;
    top: 25%;
  }

  .tutorial-text {
    font-size: 1.1rem;
    width: 13rem;
    top: 42%;
  }

  .tutorial-btn {
    font-size: 1.4rem;
    padding: 6px 25px;
    bottom: 33%;
  }
}

@media (width: 390px){
  .tutorial-image {
    width: 23rem;
    top: 25%;
  }

  .tutorial-text {
    font-size: 1rem;
    width: 12rem;
    top: 42%;
  }

  .tutorial-btn {
    font-size: 1.3rem;
    padding: 6px 25px;
    bottom: 33.5%;
  }
}

@media (width: 375px) {
  .tutorial-image{
    width: 22rem;
    top: 10%;
  }

  .tutorial-text{
      font-size: 1.1rem;
      width: 13rem;
  }

  .tutorial-btn{
    padding: 6px 20px;
    font-size: 1.2rem;
    bottom: 40%;
  }
}

@media (width: 360px) {
  .tutorial-image {
    width: 22rem;
    top: 23%;
  }

  .tutorial-text {
    font-size: 1rem;
    width: 11rem;
    top: 40%;
  }

  .tutorial-btn {
    font-size: 1.2rem;
    padding: 6px 20px;
    bottom: 31.5%;
  }
}

@media (width: 344px) {
  .tutorial-image{
    width: 22rem;
    top: 15%;
  }

  .tutorial-text{
      font-size: 1.1rem;
      width: 13rem;
  }

  .tutorial-btn{
    padding: 6px 20px;
    font-size: 1.2rem;
    bottom: 47%;
  }
}